<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>StudentPortal</display-name>

  <servlet>
      <servlet-name>TeacherLoginServlet</servlet-name>
      <servlet-class>TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>TeacherLoginServlet</servlet-name>
      <url-pattern>/TeacherLoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>LoginServlet</servlet-name>
      <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>LoginServlet</servlet-name>
      <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>RegisterServlet</servlet-name>
      <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>RegisterServlet</servlet-name>
      <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>VerifyOTPServlet</servlet-name>
      <servlet-class>VerifyOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>VerifyOTPServlet</servlet-name>
      <url-pattern>/VerifyOTPServlet</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>ForgotPasswordServlet</servlet-name>
      <servlet-class>ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ForgotPasswordServlet</servlet-name>
      <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>ResetPasswordServlet</servlet-name>
      <servlet-class>ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ResetPasswordServlet</servlet-name>
      <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>ApprovePaymentServlet</servlet-name>
      <servlet-class>ApprovePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ApprovePaymentServlet</servlet-name>
      <url-pattern>/ApprovePaymentServlet</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>DenyPaymentServlet</servlet-name>
      <servlet-class>DenyPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>DenyPaymentServlet</servlet-name>
      <url-pattern>/DenyPaymentServlet</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>ConfirmPaymentServlet</servlet-name>
      <servlet-class>ConfirmPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ConfirmPaymentServlet</servlet-name>
      <url-pattern>/ConfirmPaymentServlet</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>CheckEnrollAvailability</servlet-name>
      <servlet-class>CheckEnrollAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CheckEnrollAvailability</servlet-name>
      <url-pattern>/CheckEnrollAvailability</url-pattern>
  </servlet-mapping>

</web-app>
